extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            
                
            .col-md-7
                h1.py-3=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper vulputate velit non suscipit. Praesent nunc tellus, vestibulum ultrices ante non, malesuada tristique urna. Praesent pretium ante quis vestibulum pharetra. 

                p Nulla condimentum lorem ac lacus aliquam pharetra. Sed rutrum scelerisque tempus. Aenean aliquam tempus commodo. Donec porttitor nisl scelerisque ante imperdiet, ut accumsan ex pellentesque. Vestibulum quis lectus dictum, scelerisque dolor nec, placerat enim. Morbi auctor finibus nisi, vel convallis neque commodo ut.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla condimentum lorem ac lacus aliquam pharetra. Sed rutrum scelerisque tempus. Aenean aliquam tempus commodo. Donec porttitor nisl scelerisque ante imperdiet
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Nulla condimentum lorem ac lacus aliquam pharetra. Sed rutrum scelerisque tempus. Aenean aliquam tempus commodo. Donec porttitor nisl scelerisque ante imperdiet
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Nulla condimentum lorem ac lacus aliquam pharetra. Sed rutrum scelerisque tempus. Aenean aliquam tempus commodo. Donec porttitor nisl scelerisque ante imperdiet
